.message {
    color: darkcyan;
    background-color: rgb(235, 255, 255);
    margin: 5px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: fit-content;

}



.out {
    align-self: flex-end;
}

.in {
    align-self: flex-start;
}