.addMessage {
    text-align: end;
    border-top: 1px solid gainsboro;
}
.addMessage textarea {
    width: 100%;
    border: 0px;
    resize: none;
    height: 60px;
    outline: none;
    padding: 10px 0;
}
.buttonWrapper {
    padding: 10px;
    text-align: end;
}